body {
    /* width: 100vw;
    height: 100vh; */

    /* Chrome, Safari, Opera */
    -webkit-user-select: none;

    /* Firefox */
    -moz-user-select: none;

    /* IE 10+ */
    -ms-user-select: none;

    /* Standard syntax */
    user-select: none;

    /* background: linear-gradient(to bottom, #ffffff, #a0a0ff); */
    /* background-color: black; */
    background-color: black;
    background-attachment: fixed;   
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
  }
  
  iframe {
    position: relative;
    width: 100%;
  }